/*table#bodyTable{border:0;width: 80%;margin-left: 10%;margin-right: 10%;background-color: #aaba;}*/
/*input{border: 1px solid #aaa;width:80%;align-self: left;margin-left: 10%;}*/

h1 {
    color:white;
    text-align: center;
    width: 19.5em;
    margin: 0 auto;
    padding: 1em 0;
    background: #5C914B;
    margin-top: 1em;
    border-radius: 10px;
    border: 2px white solid;
  }

.container {
    padding: 16px;
    background-color: rgb(82, 86, 89);
    width: 37em;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 5em;
 }

#centralBody {
    background-color: #aaba;
}

#cardType {
    background-color: floralwhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
}

input {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #aaa;
    background: white;
    border-radius: 5px;
 }

label{
    color: white;
    font-weight: bold;
}

input#submit{
    background-color: #5C914B;
    color: white;
}

.masterClass {
	display: none;
    background: no-repeat url("../images/mastercard.png");
    height: 5em;
    
    
}

.amexClass {
	display: none;
    background: no-repeat url("../images/amex.png");
    height: 5em;
    
}

.visaClass {
	display: none;
    background: no-repeat url("../images/visa.png");
    height: 5em;
   
}